body {
	color:#333;
	font:75%/1.3125 Verdana,Helvetica,Arial,sans-serif;
}
a {
	text-decoration:none;
}
*:not(.selected) a:hover:not(.selected) {
	text-decoration:underline;
}

a.icon {
	background-repeat:no-repeat;
}
a.icon-left {
	background-position:left center;
	padding-left:18px;
}
a.icon-right {
	background-position:right center;
	padding-right:18px !important;
}
a.glossary {
	background-image:url("http://lt.morningstar.com/img/icons/question_mark.gif");
}
a.pdf {
	background-image:url("http://lt.morningstar.com/img/icons/pdf_small.gif");
}
a.print {
	background-image:url("http://lt.morningstar.com/img/icons/print.gif");
	cursor:pointer;
}

/* navigation tabs */
nav [role='tablist']	{
	background-color:#eee;
}
nav [role='tablist'] [aria-selected='true'] {
	background-color:#fff;
}
@media (max-width:800px) {
	nav [role='tablist'] [aria-selected] {
		border:1px solid #999;
		border-bottom-width:0;
		padding:10px 0.5rem;
	}
	nav [role='tablist'] [aria-selected]:first-child[aria-selected='true'] {
		border-top-width:0;
	}
	nav [role='tablist'] [aria-selected]:last-child[aria-selected='false'] {
		border-bottom-width:1px;
	}
	nav [role='tablist'] [aria-selected='true'] {
		border-left-width:0;
		border-right-width:0;
	}
	nav [role='tablist'] [aria-selected='false']:hover {
		background-color:#fff;
	}
}
@media (min-width:800px) {
	nav [role='tablist'] {
		border-top:1px solid #ccc;
		border-bottom:1px solid #999;
		margin-bottom:12px;
		padding:3px 5px 0;
	}
	nav [role='tablist'] [aria-selected] {
		padding:7px 8px 6px;
	}
	nav [role='tablist'] [aria-selected='true'] {
		border:1px solid #999;
		border-bottom-width:0;
		position:relative;
		padding-top:6px;
		top:1px;
	}
	[role='tablist'] [aria-selected='false']:hover {
		text-decoration:underline;
	}
}

/* title */
/* main > header {
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-flow:wrap;
	-ms-flex-pack:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
main > header > * {
	flex:auto;
} */
main > header h1 {
	font-size:2em;
	line-height:2;
	margin-bottom:24px;
}
main > header h1 .ms-security-name {
	font-weight:bold;
}
/* main > header section {
	flex:none;
	width:100%;
} */
#msReportComparatorsList ul {
	list-style-type:disc;
	margin-bottom:12px;
	padding-left:16px;
}
#msReportComparatorsList ul li span {
	color:#333;
}

/* body */
.ms-section {
	margin-bottom:24px;
}
.ms-section > section:not([class]),
.ms-section > div:not([class]) {
	border-bottom:1px solid #CCCCCC;
	margin-top:5px;
	padding-bottom:5px;
}
.ms-section > section:last-child,
.ms-section > div:last-child {
	border-bottom:0;
}

.ms-section-portfolio-summary > header,
.ms-section header,
.ms-table caption {
	border-bottom: 1px solid #CCCCCC;
	border-top:2px solid #797979;
	padding:2px 0 12px;
}
.ms-section header h1,
.ms-table caption h1 {
	font-size:1.4em;
	font-weight:bold;
	line-height:1.43;
}
.ms-section section header,
.ms-section section .ms-table caption {
	border:0;
	padding:10px 0 4px;;
}
.ms-section section .ms-table caption h1,
.ms-section section header h1 {
	font-size:1em;
	font-weight:bold;
	line-height:1.3125;
}

.ms-table tr {
	border-bottom:1px solid #ccc;
}
.ms-table tr > * {
	line-height:1.55;
	padding:2px 0 3px;
}

@media (min-width:800px) {
	body {
		font:68.75%/1.3125 Verdana,Helvetica,Arial,sans-serif;
	}
	.ms-flex-container {
		margin-left:-24px;
	}
	.ms-flex-container .ms-section {
		margin-left:24px;
	}
	.ms-section-portfolio-summary {
		margin-left:0;
	}
}