* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 0.875rem;
  background-color: #fafafa;
}

section {
  margin: 3rem 0.5rem;
}

nav {
  border-top: 1px solid #853c3b;
}

  nav ul {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }

  nav ul li {
    flex: 0 0 25%;
  }

  nav ul li a {
    display: block;
    line-height: 4;
    text-align: center;
    text-decoration: none;
  }
  nav ul li a:hover,
  nav ul li a:active {
    background-color: #853c3b;
    color: #fff;
  }

footer {
  padding: 1.5em 0;
  border-top: 1px solid #853c3b;
  font-size: 0.75rem;
}

a {
  color: #853c3b;
}

p {
  margin: 0 0 1.5rem;
}

p a {
  font-weight: bold;
}

.c-branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  max-height: 25rem;
}

  .c-branding__logo {
    width: 9rem;
  }
  .c-branding__name {
    margin: 0;
    line-height: 2;
  }

.c-hero {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .c-hero--fielding {
    max-width: 1599px;
    background-image: url(../img/fielding-practice.jpg);
  }

    .c-hero--fielding div {
      padding-top: 37.9%;
    }

  .c-hero--home {
    max-width: 2000px;
    background-image: url(../img/home-ground.jpg);
  }

    .c-hero--home div {
      padding-top: 47.6%;
    }

.u-centre {
  text-align: center;
}

.u-sr-only {
  position: absolute;
  top: -9999rem;
  left: -9999rem;
}


@media (min-width: 30rem) {
  .c-branding {
    flex-direction: row;
    justify-content: space-around;
    max-width: 30rem;
    height: 18rem;
    margin: 0 auto;
  }

    /*.c-branding__logo {
      width: 30%;
    }*/
}

@media (min-width: 31rem) {
  section {
    max-width: 43rem;
    margin: 3rem 1.5rem;
    padding-top: 1.5rem;
    columns: 2;
    column-gap: 3rem;
    column-rule: 1px dotted #853c3b;
    line-height: 1.75;
  }

  section p {
    break-inside: avoid;
  }
}

@media (min-width: 40rem) {
  body {
    margin: 0;
    font-size: 1rem;
  }
}

@media (min-width: 43rem) {
  section {
    margin: 3rem auto;
  }
}
