<!DOCTYPE html>

<html lang="en">

	<head>
		<title>HTML Fragments</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../resources/css/styles.css" />
	</head>

	<body class="c-layout">
		<header class="c-layout__header">
			<div>
				<h1 class="c-layout__title">HTML Fragments</h1>
			</div>
		</header>
		<main class="c-layout__body">
			<p>The following are (minimally-styled) examples of how pieces of HTML should be marked up in the first instance. Obviously these don't cover all possibilities but they are where developers should start from.</p>
			<ul>
				<li>
					<a href="./abbreviations.htm">Abbreviations, Acronyms &amp; Definitions</a>
				</li>
				<!-- <li>
					<a href="./datetime.htm">Date &amp; time</a>
				</li> -->
				<li>
					<a href="./image.htm">Image</a>
				</li>
				<!-- <li>
					<a href="./link.htm">Link</a>
				</li> -->
				<li>
					<a href="./section.htm">Section</a>
				</li>
				<li>
					<a href="./subsections.htm">Subsections</a>
				</li>
				<li>
					<a href="./table.htm">Tables</a>
				</li>
				<li>
					<a href="./tabs.htm">Tabs</a>
				</li>
			</ul>
		</main>

	</body>
</html>