<!DOCTYPE html>

<html lang="en">
	<head>
		<title>HTML Fragment: Section</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="./styles.css" rel="stylesheet" />
	</head>
	<body>
		<main>
			<header>
				<h1>Subsections</h1>
			</header>
			<div>
				<section>
					<header>
						<h1>Output</h1>
					</header>
					<section>
						<header>
							<h1>Section Title</h1>
						</header>
						<div>
							<p lang="la">Aenean vestibulum hendrerit congue. Sed vitae risus sed libero auctor interdum. Donec eu turpis et leo elementum varius vitae non sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis orci vel dictum tincidunt. Etiam sed mauris tempus, pellentesque odio vitae, sollicitudin nisi. Donec dictum tempor dolor nec interdum.</p>
						</div>
						<section>
							<header>
								<h1>Subsection Title 1</h1>
							</header>
							<div>
								<p lang="la">Aenean vestibulum hendrerit congue. Sed vitae risus sed libero auctor interdum. Donec eu turpis et leo elementum varius vitae non sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis orci vel dictum tincidunt. Etiam sed mauris tempus, pellentesque odio vitae, sollicitudin nisi. Donec dictum tempor dolor nec interdum.</p>
							</div>
							<section>
								<header>
									<h1>Sub-subsection Title 1</h1>
								</header>
								<div>
									<p lang="la">Aenean vestibulum hendrerit congue. Sed vitae risus sed libero auctor interdum. Donec eu turpis et leo elementum varius vitae non sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis orci vel dictum tincidunt. Etiam sed mauris tempus, pellentesque odio vitae, sollicitudin nisi. Donec dictum tempor dolor nec interdum.</p>
								</div>
							</section>
							<section>
								<header>
									<h1>Sub-subsection Title 2</h1>
								</header>
								<div>
									<p lang="la">Aenean vestibulum hendrerit congue. Sed vitae risus sed libero auctor interdum. Donec eu turpis et leo elementum varius vitae non sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis orci vel dictum tincidunt. Etiam sed mauris tempus, pellentesque odio vitae, sollicitudin nisi. Donec dictum tempor dolor nec interdum.</p>
								</div>
							</section>
						</section>
						<section>
							<header>
								<h1>Subsection Title 2</h1>
							</header>
							<div>
								<p lang="la">Aenean vestibulum hendrerit congue. Sed vitae risus sed libero auctor interdum. Donec eu turpis et leo elementum varius vitae non sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis orci vel dictum tincidunt. Etiam sed mauris tempus, pellentesque odio vitae, sollicitudin nisi. Donec dictum tempor dolor nec interdum.</p>
							</div>
						</section>
						<footer>Section Footer</footer>
					</section>
				</section>
				<section>
					<header>
						<h1>Source</h1>
					</header>
					<pre>
&lt;section&gt;
  &lt;header&gt;
    &lt;h1&gt;Section Title&lt;/h1&gt;
  &lt;/header&gt;
  &lt;div&gt;
    &lt;p&gt;Aenean vestibulum hendrerit congue. Sed vitae risus
    sed libero auctor interdum. Donec eu turpis et leo
    elementum varius vitae non sem. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Vivamus lobortis orci
    vel dictum tincidunt. Etiam sed mauris tempus, pellentesque
    odio vitae, sollicitudin nisi. Donec dictum tempor dolor
    nec interdum.&lt;/p&gt;
  &lt;/div&gt;
  &lt;section&gt;
    &lt;header&gt;
      &lt;h1&gt;Subsection Title 1&lt;/h1&gt;
    &lt;/header&gt;
    &lt;div&gt;
      &lt;p&gt;Aenean vestibulum hendrerit congue. Sed vitae risus
      sed libero auctor interdum. Donec eu turpis et leo
      elementum varius vitae non sem. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Vivamus lobortis orci
      vel dictum tincidunt. Etiam sed mauris tempus,
      pellentesque odio vitae, sollicitudin nisi. Donec dictum
      tempor dolor nec interdum.&lt;/p&gt;
    &lt;/div&gt;
    &lt;section&gt;
      &lt;header&gt;
        &lt;h1&gt;Sub-subsection Title 1&lt;/h1&gt;
      &lt;/header&gt;
      &lt;div&gt;
        &lt;p&gt;Aenean vestibulum hendrerit congue. Sed vitae risus
        sed libero auctor interdum. Donec eu turpis et leo
        elementum varius vitae non sem. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Vivamus lobortis
        orci vel dictum tincidunt. Etiam sed mauris tempus,
        pellentesque odio vitae, sollicitudin nisi. Donec
        dictum tempor dolor nec interdum.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/section&gt;
    &lt;section&gt;
      &lt;header&gt;
        &lt;h1&gt;Sub-subsection Title 2&lt;/h1&gt;
      &lt;/header&gt;
      &lt;div&gt;
        &lt;p&gt;Aenean vestibulum hendrerit congue. Sed vitae risus
        sed libero auctor interdum. Donec eu turpis et leo
        elementum varius vitae non sem. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Vivamus lobortis
        orci vel dictum tincidunt. Etiam sed mauris tempus,
        pellentesque odio vitae, sollicitudin nisi. Donec
        dictum tempor dolor nec interdum.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  &lt;/section&gt;
  &lt;section&gt;
    &lt;header&gt;
      &lt;h1&gt;Subsection Title 2&lt;/h1&gt;
    &lt;/header&gt;
    &lt;div&gt;
      &lt;p&gt;Aenean vestibulum hendrerit congue. Sed vitae risus
      sed libero auctor interdum. Donec eu turpis et leo
      elementum varius vitae non sem. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Vivamus lobortis orci
      vel dictum tincidunt. Etiam sed mauris tempus,
      pellentesque odio vitae, sollicitudin nisi. Donec dictum
      tempor dolor nec interdum.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/section&gt;
  &lt;footer&gt;Section Footer&lt;/footer&gt;
&lt;/section&gt;
					</pre>
			</section>
			</div>
		</main>
	</body>
</html>