<!DOCTYPE html>

<html lang="en">
	<head>
		<title>HTML Fragment: Table</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="./styles.css" rel="stylesheet" />
	</head>
	<body>
		<main>
			<header>
				<h1>Table</h1>
			</header>
			<div>
				<section>
					<header>
						<h1>Output</h1>
					</header>
					<section>
						<table>
							<caption>
								<h1>Employee Information</h1>
							</caption>
							<colgroup>
								<col />
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Person 1</th>
									<th scope="col">Person 2</th>
									<th scope="col">Person 3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Names</th>
									<td>Angela</td>
									<td>Brendon</td>
									<td>Charlotte</td>
								</tr>
								<tr>
									<th scope="row">Ages</th>
									<td>35</td>
									<td>40</td>
									<td>45</td>
								</tr>
								<tr>
									<th scope="row">Hair Colour</th>
									<td>Red</td>
									<td>Brown</td>
									<td>Blonde</td>
								</tr>
								<tr>
									<th scope="row">Holiday (weeks)</th>
									<td>4</td>
									<td>5</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</section>
				</section>
				<section>
					<header>
						<h1>Source</h1>
					</header>
					<pre>
&lt;section&gt;
    &lt;table&gt;
        &lt;caption&gt;
            &lt;h1&gt;Employee Information&lt;/h1&gt;
        &lt;/caption&gt;
        &lt;colgroup&gt;
            &lt;col /&gt;
            &lt;col /&gt;
            &lt;col /&gt;
            &lt;col /&gt;
        &lt;/colgroup&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th scope="col"&gt;&lt;/th&gt;
                &lt;th scope="col"&gt;Person 1&lt;/th&gt;
                &lt;th scope="col"&gt;Person 2&lt;/th&gt;
                &lt;th scope="col"&gt;Person 3&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;Names&lt;/th&gt;
                &lt;td&gt;Angela&lt;/td&gt;
                &lt;td&gt;Brendon&lt;/td&gt;
                &lt;td&gt;Charlotte&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;Ages&lt;/th&gt;
                &lt;td&gt;35&lt;/td&gt;
                &lt;td&gt;40&lt;/td&gt;
                &lt;td&gt;45&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;Hair Colour&lt;/th&gt;
                &lt;td&gt;Red&lt;/td&gt;
                &lt;td&gt;Brown&lt;/td&gt;
                &lt;td&gt;Blonde&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;Holiday (weeks)&lt;/th&gt;
                &lt;td&gt;4&lt;/td&gt;
                &lt;td&gt;5&lt;/td&gt;
                &lt;td&gt;6&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/section&gt;
					</pre>
			</section>
			</div>
		</main>
	</body>
</html>