html {
  box-sizing: border-box;
  line-height: 1.5;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 0.8125rem;
  color: #333;
}

main {
  max-width: 990px;
  margin: 1rem auto;
}

a {
  color: #00b291;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
  caption {
    text-align: left;
    cursor: pointer;
  }

  .is-closed thead,
  .is-closed tbody {
    display: none;
  }

  tbody tr:nth-child(2n) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: rgba(0, 178, 145, 0.0675);
  }

  th {
    background-color: #f0f0f0;
    color: rgba(0,0,0,0.54);
    text-align: left;
  }

  td, th {
    border: 1px solid #ddd;
    border-width: 0 1px 1px 0;
    padding: 4px 6px;
    vertical-align: top;
  }

  td:last-child,
  th:last-child {
    border-right: 0;
  }

.o-btn {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 4px 8px;
}

  .o-btn--link {
    margin: 0;
    border-color: transparent;
    padding: 0;
    background-color: transparent;
    font-weight: normal;
    color: #00b291;
  }

  .o-btn--link:hover,
  .o-btn--link:active {
    text-decoration: underline;
    cursor: pointer;
  }


.o-media {
  display: flex;
}

  .o-media__img {
    margin-right: 8px;
  }

  .o-media__bdy {
    flex: 1;
  }

  .o-media--inline {
    display: inline-flex;
  }

  .o-media--center {
    align-items: center;
  }

  .o-media--reverse {
    flex-direction: row-reverse;
  }

    .o-media--reverse > .o-media__img {
      margin-left: 8px;
      margin-right: 0;
    }


.o-list-bare {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.o-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: #000;
}

  .o-overlay--upload {
    background-color: #00b291;
    opacity: 0.95;
  }

  .o-overlay--process {
    background-color: #f4f2ea;
  }

  .o-overlay__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    width: calc(100% - 6rem);
    max-width: 60rem;
    height: calc(100% - 6rem);
    max-height: 42rem;
  }

    .o-overlay__content header {
      margin-bottom: 28px;
    }
    
    .o-overlay__content header h1 {
      margin: 8px 0;
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
    }

    .o-overlay__content header div {
      color: rgba(0, 0, 0, .16);
    }

    .o-overlay__content aside {
      line-height: 2;
    }

    .o-overlay__content footer {
      margin-top: auto;
      border-top: 1px solid rgba(0, 0, 0, .16);
      padding-top: 8px;
      text-align: right;
    }

      .o-overlay__content footer button:nth-child(n+2) {
        margin-left: 8px;
      }

    .o-overlay__content--upload {
      justify-content: center;
      align-items: center;

      color: #fff;
      font-size: 36px;
      line-height: 64px;
      text-align: center;
    }

    .o-overlay__content--upload .material-icons {
      font-size: 72px;
    }

    .o-overlay__content--upload button {
      height: 36px;
      width: 92px;
      margin: 0 18px;
      border-radius: 2px;

      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
    }

    .o-overlay__content--upload button.primary {
      border: 0;
      background-color: #fff;
      color: #00b291;
    }

    .o-overlay__content--upload button.secondary {
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
    }

.o-grid {
  display: grid;
  align-items: center;
}


.c-file-options {
  grid-template-columns: 50% 50%;
  grid-gap: 1rem 2rem;
  width: calc(100% - 2rem);
}

.u-mb--1 {
  margin-bottom: 8px;
}
.u-mb--2 {
  margin-bottom: 16px;
}
.u-mb--3 {
  margin-bottom: 24px;
}
.u-mb--4 {
  margin-bottom: 32px;
}

.u-pb--1 {
  padding-bottom: 8px;
}
.u-pb--2 {
  padding-bottom: 16px;
}
.u-pb--3 {
  padding-bottom: 24px;
}
.u-pb--4 {
  padding-bottom: 32px;
}

.u-block {
  display: block !important;
}

.u-nowrap {
  white-space: nowrap;
}

.is-hidden {
  display: none;
}
