#msReport {
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-ms-flex-direction:column;
	-webkit-flex-direction:column;
	flex-direction:column;
}



@media (min-width: 800px) {
	ul {
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		-ms-flex-pack:flex-start;
		-webkit-justify-content:flex-start;
		justify-content:flex-start;
	}
	nav {
		-ms-flex-order:-1;
		-webkit-order:-1;
		order:-1;
	}
	nav li {
		-ms-flex:1 0 auto;
		-webkit-flex:1 0 auto;
		flex:1 0 auto;
	}
	#msReportTools  {
		-ms-flex-order:-2;
		-webkit-order:-2;
		order:-2;
	}

	.flexContainer {
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
	}
	.flexItem {
		-ms-flex:1;
		-webkit-flex:1;
		flex:1;
	}
	.flexItemDefinedWidth {
		-ms-flex:none;
		-webkit-flex:none;
		flex:none;
	}
	.item1Of3 {
		width:33.33333%
	}
}

@media (min-width: 1024px) {
}