$bp-1: 480px;
$bp-2: 960px;

$colour-bg: #fafafa;
$colour-black: #333333;
$colour-blue: #6587ed;


/*
 * Base
 */
html {
	font-family: 'Verdana Helvetica Arial sans-serif';
	line-height: 1.5;
}

a {
	color: $colour-blue;
}

h1 {
	margin: 0rem;
	font-weight: bold;
}


/*
 * Layout
 */
.c-layout {
	margin-top: 0rem;
	margin-bottom: 4rem;
	background-color: $colour-bg;
	color: $colour-black;
}

	.c-layout__header {
		position: sticky;
		top: 0rem;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		padding: 1rem 0rem;
		border-bottom: 1px solid #cccccc;
		background-color: $colour-bg;
		text-align: center;

		& > div {
			position: relative;
			max-width: 48rem;
			margin: 0rem auto;
		}

		h1 {
			font-size: 2rem;
		}
	}

	.c-layout__body {
		max-width: 48rem;
		margin: 2rem auto 0rem;
	}


.c-company {
	margin-top: 2rem;
}

	.c-company__title {
		display: inline-block;
		margin-left: 1rem;
		vertical-align: middle;

		h1 {
			font-size: 1.5rem;
		}

		span {
			font-size: 1.25rem;
			font-style: italic;
		}
	}


.c-demo	{
	margin: 1rem 0rem 0rem 2rem;
}

	.c-demo__title {
		font-size: 1.25rem;
	}
	
	.c-demo__details {
		p {
			margin: 0;
		}
	}


.c-additional-information {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	@media (min-width: $bp-2) {
		position: absolute;
		top: 0.5rem;
		right: 0rem;
		margin-top: 0rem;
	}

	img {
		display: block;
	}
}
