@use 'sass:map';

$breakpoint: 60rem;
$max-width: 48rem;

$colours: (
	'background': #fafafa,
	'black': #333,
	'grey': #ccc,
	'blue': #6587ed,
);

$spacing-unit: 1rem;
$spacing: (
	'0.25x': calc($spacing-unit / 4),
	'0.5x': calc($spacing-unit / 2),
	'1x': $spacing-unit,
	'2x': calc($spacing-unit * 2),
	'4x': calc($spacing-unit * 4),
);

// Basics
html {
	line-height: 1.5;
	font-family: 'Verdana Helvetica Arial sans-serif';
	font-size: 16px;
}

a {
	color: map.get($colours, 'blue');
}

h1 {
	margin: 0;
	font-weight: bold;
}

// Page layout
.c-layout {
	margin-top: 0;
	margin-bottom: map.get($spacing, '4x');
	background-color: map.get($colours, 'background');
	color: map.get($colours, 'black');
}

.c-layout__header {
	position: sticky;
	top: 0;
	margin-right: map.get($spacing, '0.5x') * -1;
	margin-left: map.get($spacing, '0.5x') * -1;
	border-bottom: 1px solid map.get($colours, 'grey');
	background-color: inherit;
	padding: map.get($spacing, '1x') 0;
	text-align: center;

	& > div {
		position: relative;
		margin: 0 auto;
		max-width: $max-width;
	}

	h1 {
		font-size: 2em;
	}
}

.c-layout__body {
	margin: map.get($spacing, '2x') auto 0;
	max-width: $max-width;
}


.c-company {
	margin-top: map.get($spacing, '2x');
}

.c-company__title {
	display: inline-block;
	margin-left: map.get($spacing, '1x');
	vertical-align: middle;

	h1 {
		font-size: 1.5em;
	}

	span {
		font-size: 1.25em;
		font-style: italic;
	}
}


.c-demo	{
	margin: map.get($spacing, '1x') 0 0 map.get($spacing, '2x');
}

.c-demo__title {
	font-size: 1.25em;
}

.c-demo__details {
	p {
		margin: 0;
	}
}


.c-additional-information {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: map.get($spacing, '1x');
	gap: map.get($spacing, '1x');

	@media (min-width: $breakpoint) {
		position: absolute;
		top: map.get($spacing, '0.5x');
		right: 0;
		margin-top: 0;
	}

	img {
		display: block;
	}
}
